@define-color black #000000;
@define-color gray #808080;
@define-color white #ffffff;

@define-color orange #fe9954;
@define-color purple #8c67aa;
@define-color silver #cbc6cc;
@define-color red #fb5458;
@define-color green #61bf99;
@define-color yellow #fdd162;
@define-color blue #6292e9;
@define-color pink #e08696;
@define-color cyan #95caee;

@define-color dark-orange #e4894b;
@define-color dark-purple #7e5c99;
@define-color dark-silver #b6b2b7;
@define-color dark-red #e14b4f;
@define-color dark-green #57ab89;
@define-color dark-yellow #e3bc58;
@define-color dark-blue #5883d1;
@define-color dark-pink #c97887;
@define-color dark-cyan #86b5d6;

@define-color light-orange #ffaa5d;
@define-color light-purple #9b72bc;
@define-color light-silver #e1dce2;
@define-color light-red #ff5d61;
@define-color light-green #6bd4aa;
@define-color light-yellow #ffe86c;
@define-color light-blue #6ca2ff;
@define-color light-pink #f894a6;
@define-color light-cyan #a5e0ff;


* {
    font-family: HackNerdFont;
    color: @white;
}

#window {
    background: rgba(68, 68, 68, 0.9);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid @cyan;
}

list {
    background: rgba(0, 0, 0, 0);
}

#entry:selected {
    background-color: #666;
}

#input {
    background-color: #666;
    margin-bottom: 10px;
}

list {
    margin-top: 3px;
}

#outer-box {
    padding: 20px;
}

#img {
    margin-right: 6px;
}

flowboxchild > .entry {
    margin-left: 16px;
}

list .entry {
    margin-left: 14px;
}

:first-child#text {
    margin-left: 32px;
}
